body{
    background-color: antiquewhite;
}

header{
    background-color: aquamarine;
    height: 200px;
    text-align: center;
    
}

main{
    display: flex;
    background-color: rgb(27, 118, 118);
    height: 500px;
}
footer{
    background-color: rgb(106, 233, 233);
   height: 200px; ;
}

div.cuadro{
    display: inline-block;
    background-color: rgb(241, 0, 0);
    width: 200px;
    height: 200px;
    border: 1px solid white;
   
}